<section class="callback">
  <div class="callback-wrapper">
    <div class="callback-picture"></div>
    <div class="callback-request">
      <p class="callback-text">Request Callback</p>
      <form class="callback-form">
        <label class="callback-label" for="user-name"></label>
        <input
          class="callback-input"
          type="text"
          id="user-name"
          placeholder="Enter your name"
          required
        />
        <label class="callback-label" for="user-email"></label>
        <input
          class="callback-input"
          type="email"
          class="callback-input"
          id="user-email"
          placeholder="Enter email*"
          required
        />
        <button class="callback-button" type="submit">Send</button>
      </form>
    </div>
  </div>
</section>
