<section class="cases">
  <div class="cases-container container">
    <p class="cases-text">This is what we do</p>
    <h2 class="cases-title">Business Cases</h2>
    <p class="cases-lorem">Lorem ipsum dolor sit amet consectetur adipisicing elit. Architecto, sapiente!</p>
    <ul class="cases-list">
      <li class="cases-item"><img class="cases-picture" src="/img/cases/Rectangle.jpg" alt="1"></li>
      <li class="cases-item"><img class="cases-picture" src="/img/cases/Rectangle2.jpg" alt="2"></li>
      <li class="cases-item"><img class="cases-picture" src="/img/cases/Rectangle3.jpg" alt="3"></li>
      <li class="cases-item"><img class="cases-picture" src="/img/cases/Rectangle4.jpg" alt="4"></li>
      <li class="cases-item"><img class="cases-picture" src="/img/cases/Rectangle5.jpg" alt="5"></li>
      <li class="cases-item"><img class="cases-picture" src="/img/cases/Rectangle6.jpg" alt="6"></li>
      <li class="cases-item"><img class="cases-picture" src="/img/cases/Rectangle7.jpg" alt="7"></li>
      <li class="cases-item"><img class="cases-picture" src="/img/cases/Rectangle8.jpg" alt="8"></li>
    </ul>
  </div>
</section>
