<section class="cases">
  <div class="cases-container container">
    <p class="cases-text">This is what we do</p>
    <h2 class="cases-title">Business Cases</h2>
    <p class="cases-text cases-lorem">Lorem ipsum dolor sit amet consectetur adipisicing elit. Architecto, sapiente!</p>
    <ul class="cases-list">
      <li class="cases-item"><img class="cases-picture" src="../img/cases/Rectangle.jpg" alt=""></li>
      <li class="cases-item"><img class="cases-picture" src="../img/cases/Rectangle (2).jpg" alt=""></li>
      <li class="cases-item"><img class="cases-picture" src="../img/cases/Rectangle (3).jpg" alt=""></li>
      <li class="cases-item"><img class="cases-picture" src="../img/cases/Rectangle (4).jpg" alt=""></li>
      <li class="cases-item"><img class="cases-picture" src="../img/cases/Rectangle (5).jpg" alt=""></li>
      <li class="cases-item"><img class="cases-picture" src="../img/cases/Rectangle (6).jpg" alt=""></li>
      <li class="cases-item"><img class="cases-picture" src="../img/cases/Rectangle (7).jpg" alt=""></li>
      <li class="cases-item"><img class="cases-picture" src="../img/cases/Rectangle (8).jpg" alt=""></li>
    </ul>
  </div>
</section>