
  <header class="header">
    <div class="container header-container">
      <nav class="nav">
        <a class="nav-logo" href="./index.html" aria-label="Site logo">
          <svg class="nav-logo-icon" width="39" height="45">
            <use href="../img/header-hero/header-hero-icons.svg#icon-logo_book-open"></use>
          </svg>  <span class="logo-text">
            <span class="logo-word1">Finance</span>
            <span class="logo-word2">Ledger</span>
          </span>
        </a>
        <ul class="nav-list">
          <li class="nav-item">
            <a class="nav-link" href="./page-2.html">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="./page-3.html">About</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="./page-3.html">Cases</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="./page-3.html">Blog</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="./page-3.html">Contact</a>
          </li>
        </ul>
      </nav>
    </div>
  </header>

