<section class="solution">
  <div class="solution-container">
    <div class="solution-picture"></div>
    <div class="solution-container-text container">
      <p class="solution-text">What you are looking for</p>
      <h2 class="solution-title">We provide <br class="enter"> bespoke<br class="enter"> solutions</h2>
      <p class="solution-text">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Voluptate, ipsum dignissimos quae laudantium asperiores nam aliquid impedit harum illum dolore explicabo ab dolores itaque rerum temporibus doloribus iste maiores deleniti?</p>
      <button class="solution-btn">Read More</button>
    </div>
</div>
</section>
