.cases {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  text-align: center;
}

.cases-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.cases-text {
  font-weight: 400;
  font-size: 20px;
  line-height: 32.95px;
  margin-bottom: 15px;
  margin-top: 50px;
}

.cases-title {
  font-weight: 300;
  font-size: 38px;
  line-height: 48px;
  margin-bottom: 34px;
  text-align: center;
}

.cases-lorem {
  margin-bottom: 39px;
  text-align: center;
}

.cases-list {
  list-style: none;
  margin-bottom: 47px;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
  justify-content: center;
}

.cases-item {
  width: calc((100% - 3 * 8px) / 4);
  transition: width 0.3s ease;
}

.cases-picture {
  width: 100%;
  height: auto;
  object-fit: cover;
  transition: transform 0.3s ease, width 0.3s ease;
}

@media screen and (max-width: 768px) {
  .cases-item {
    width: 100%;
  }

  .cases-picture {
    width: 100%;
    height: auto;
  }
}

@media screen and (max-width: 320px) {
  .cases-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 0 10px;
  }

  .cases-list {
    flex-direction: column;
    gap: 8px;
    margin-bottom: 46px;
  }

  .cases-item {
    width: 100%;
  }

  .cases-title,
  .cases-lorem,
  .cases-text {
    text-align: center;
  }
}
