.cases { 
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  text-align: center;
}

.cases-container { 
  margin-top: 50px;
  margin-bottom: 48px;
  margin-left: 28px;
  margin-right: 28px;
  width: 100%;
}

.cases-text { 
  font-weight: 400;
  font-size: 20px;
  line-height: 32.95px;
  margin-bottom: 15px;
}

.cases-title { 
  font-weight: 300;
  font-size: 38px;
  line-height: 48px;
  margin-bottom: 34px;
}

.cases-lorem { 
  margin-bottom: 39px;
}

.cases-list { 
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
}

.cases-item { 
  max-width: 320px;
  max-height: 214px;
}